{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "interface"
    ],
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "overrides": {
          "constructors": "no-public"
        }
      }
    ],
    "@typescript-eslint/member-ordering": [
      "warn"
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": ["classProperty", "variableLike"],
        "format": ["strictCamelCase", "UPPER_CASE"]
      },
      {
        "selector": "typeParameter",
        "format": ["StrictPascalCase"],
        "prefix": ["T"]
      },
      {
        "selector": ["typeLike"],
        "format": ["StrictPascalCase"]
      },
      {
        "selector": ["function", "classMethod"],
        "format": ["strictCamelCase"]
      },
      {
        "selector": ["parameter"],
        "format": ["strictCamelCase"],
        "leadingUnderscore": "allow"
      }
    ],
    "@typescript-eslint/no-dynamic-delete": "error",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-floating-promises": [
      "error"
    ],
    "no-magic-numbers": "off",
    "@typescript-eslint/no-magic-numbers": [
      "warn",
      {
        "ignore": [0, 1],
        "ignoreArrayIndexes": true,
        "ignoreEnums": true,
        "ignoreReadonlyClassProperties": true
      }
    ],
    "@typescript-eslint/no-require-imports": "error",
    "@typescript-eslint/no-unused-expressions": [
      "error"
    ],
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/prefer-nullish-coalescing": [
      "off"
    ],
    "@typescript-eslint/prefer-optional-chain": "off",
    "@typescript-eslint/prefer-readonly": [
      "error"
    ],
    "@typescript-eslint/promise-function-async": [
      "error"
    ],
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/restrict-plus-operands": [
      "error",
      {
        "checkCompoundAssignments": true
      }
    ],
    "@typescript-eslint/typedef": [
      "error",
      {
        "arrayDestructuring": true,
        "arrowParameter": true,
        "memberVariableDeclaration": true,
        "objectDestructuring": true,
        "parameter": true,
        "propertyDeclaration": true,
        "variableDeclaration": true
      }
    ],
    "@typescript-eslint/unified-signatures": "error",
    "import/newline-after-import": "error",
    "import/order": ["error", {
      "alphabetize": {
        "order": "asc",
        "caseInsensitive": true
      },
      "groups": ["builtin", "external"],
      "newlines-between": "always"
    }],
    "@typescript-eslint/strict-boolean-expressions": "error",
    "@typescript-eslint/switch-exhaustiveness-check": "error",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "sort-keys": ["error", "asc", {
      "caseSensitive": false,
      "natural": true
    }]
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts"],
      "extends": [
        "plugin:jest/recommended",
        "plugin:jest/style"
      ],
      "rules": {
        "@typescript-eslint/unbound-method": "off",
        "@typescript-eslint/no-magic-numbers": "off"
      }
    },
    {
      "files": ["**/*InjectionTypes.ts"],
      "rules": {
        "@typescript-eslint/typedef": "off"
      }
    }
  ]
}
